<html>
<head>
<title>Directions for {{ routeName }}</title>
</head>
<body>
Choose your direction:<br/><br/>

{{#directions}}
<a href="/r/{{route}}/{{stopDirection}}">{{directionName}}</a><br/>
{{/directions}}
<br/>

<a href="/">Back to homepage</a>
</body>
</html>
