extends layout

block head
    title Error

block body
    .container
        if message
            p #{message}
        else
            p Sorry, an error has occurred.  Please try something different
        a(href="/") Back to homepage
