extends layout

block head
    title QuickBusTime
    script(type="text/javascript") 
        $(document).ready(function() {
            function goStop() {
                window.location = "s/" + $("#stopId").val();
            }

            $("#stopButton").click(goStop);
            $("#stopId").keypress(function(e) {
                if (e.which === 13) {
                   goStop(); 
                }
            });

            function goRoute() {
                window.location = "r/" + $("#route").val().replace(" ", "/");
            }

            $("#routeButton").click(goRoute);

            $("#route").keypress(function(e) {
                if (e.which === 13) {
                   goRoute(); 
                }
            });

        });

block body
    .container.
        <div class="form-inline">
            Route<br/>
            Ex. '151' or '151 N'<br/>
            <input id="route" type="text" name="route" class="span1"/>
            <button id="routeButton">Go</button><br/><br/>
        </div>
    
        <div class="form-inline">    
            Stop id<br/>
            On the bus stop sign.  If it says Text "CTABUS XXXX", XXXX is the stop id.<br/>
            <input id="stopId" type="text" name="stopid" class="span1"/>
            <button id="stopButton">Go</button><br/><br/> 
        </div>

        <a href="/r">List routes</a><br/>
