<html>
<head>
<title>Cta Bus Time</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    function goToSite() {
        window.location = "s/" + $("#stopId").val();
    }

    $("#stopButton").click(function() {
        goToSite();
    });

    $("#stopId").keypress(function(e) {
        if (e.which === 13) {
           goToSite(); 
        }
    });
});
</script>
</head>
<body>
<h1>Steve's Cta Bus Tracker</h1>

Stop Id.<br/>
On the bus stop sign.  If it says Text "CTABUS XXXX", XXXX is the stop id.<br/>
<input id="stopId" type="text" name="stopid" on/><br/>
<button id="stopButton">Go</button> 
</form>
</body>
</html>
