extends layout

block head
    title QuickBusTime
    script(type="text/javascript")
        var routeToRouteName = !{routeToRouteName};
        var routeToDirections = !{routeToDirections};

        function removeLetters(s) {
            return s.replace(/[^\\d.]/g, "");
        }

        // e.g. if pass in "8", return "8" and "8a"
        function getPossibleRoute(route) {
            var result = [];

            var strippedRoute = removeLetters(route);

            for (var key in routeToRouteName) {
                if (routeToRouteName.hasOwnProperty(key)) {
                    var strippedKey = key.replace(/[^\\d.]/g, "");
                    if (strippedRoute === strippedKey) {
                        result.push(key);
                    }
                }
            }

            return result;
        }


        $(document).ready(function() {
            function goStop() {
                window.location = "s/" + $("#stopId").val();
            }

            $("#stopButton").click(goStop);
            $("#stopId").keypress(function(e) {
                if (e.which === 13) {
                   goStop(); 
                }
            });

            function goRoute() {
                window.location = "r/" + $("#route").val().replace(" ", "/");
            }

            $("#routeButton").click(goRoute);

            $("#route").focus();

            $("#route").keypress(function(e) {
                if (e.which === 13) {
                   goRoute(); 
                }
            });


            function updateAutoComplete() {
                $("#routeAutoComplete").empty();
                var route = $("#route").val();
                console.log("route", route);

                var possibleRoutes = getPossibleRoute(route);

                var msg = "";

                var addLinkForRoute = function(route) {
                    var directions = routeToDirections[route];
                    console.log("directions", directions);

                    if (directions) {
                        for (var i = 0; i < directions.length; i++) {
                            var direction = directions[i];
                            var description = route + " - " + routeToRouteName[route] + " - " + direction;
                            var url = "/r/" + route + "/" + direction[0];

                            msg += "<a href='" + url + "'>" + description + "</a><br/>";
                        }
                    }
                }

                for (var i = 0; i < possibleRoutes.length; i++) {
                    addLinkForRoute(possibleRoutes[i]);
                }

                $("#routeAutoComplete").html(msg);
            }

            $("#route").keyup(updateAutoComplete);

            updateAutoComplete();
        });

block body
    .container.
        <h3>Route #</h3>
        <input id="route" type="tel" name="route" class="span1"/>

        <div id="routeAutoComplete">
        </div>

        <br/>
        <h3>Stop id</h3>
        <div class="form-inline">
            On the bus stop sign.  If it says Text "CTABUS XXXX", XXXX is the stop id.<br/>
            <input id="stopId" type="tel" name="stopid" class="span1"/>
            <button id="stopButton">Go</button><br/><br/> 
        </div>
        <a href="/r">List routes</a><br/>
