extends layout

block head
    title Select Route

block body
    .container
        | Choose your route:<br/><br/>

        each r in route
            | <a class="clickable" href="/r/#{r.rt}/">#{r.rt} - #{r.rtnm}</a>

        |<br/>
        | <a href="/">Back to homepage</a>
