<html>
<head>
<title>Select Route</title>
</head>
<body>
Choose your route:<br/><br/>

{{#route}}
<a href="/r/{{rt}}/">{{rt}} - {{rtnm}}</a><br/>
{{/route}}
<br/>

<a href="/">Back to homepage</a>
</body>
</html>
