extends layout

block head
    title Stops for #{routeNameAndDirection}

block body
    .container
        | #{ routeNameAndDirection }<br/><br/>
        | Choose your stop:<br/><br/>
        each s in stops
            | <a href="/s/#{s.stopId}">#{s.stopName}</a><br/>
        | <a href="/">Back to homepage</a>
